

.spa {
  
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1400px) 1fr;
  grid-template-rows: minmax(10px, auto) minmax(1000px, auto) minmax(10px, auto);
  justify-content: center;
  grid-template-areas: ". header ." ". content ." ". footer .";
}

footer {
  background-color: white;
  border-top: 1px solid rgb(231, 231, 231);
}

footer {
  grid-area: footer;
}
