/*----content----*/

.content {
    grid-area: content;
    background-color: azure;
  }
  
  .content_sort ul {
    display: grid;
    grid-template-columns: repeat(5, minmax(80px, 1fr));
  }
  
  .content_sort ul li {
    list-style: none;
  }
  
  /*----products----*/
  
  .products {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: center;
    align-content: center;
  }
  
  .product {
    display: grid;
    max-width: 300px;
    justify-content: center;
    align-content: center;
  }
  .active_Link{color: blueviolet;}